.mainContainer {
  padding: 10px 10px 10px 10px;
  margin-top: 50px !important;
  flex-wrap: wrap !important;
}
.drawerButtonMoved,
.drawerButtonClosed {
  position: fixed !important;
  top: 49vh;
  background-color: white !important;
  border-radius: 50px 0px 0px 50px !important;
}

.drawerButtonMoved {
  right: 500px;
}
.drawerButtonClosed {
  right: 5px;
}
.registryForm {
  padding: 10px;
}
.registryImg {
  margin-bottom: 15px;
  padding: 10px;
  max-height: 220px !important;
}
.precoInput,
.field {
  margin-bottom: 15px !important;
}
.saveButton,
.undoButton {
  height: 50px;
  width: 100%;
  margin-top: 15px !important;
}
.saveButton {
  background-color: green !important;
  color: white !important;
}
.precoInput {
  /* margin: 10px 10px 20px 10px !important; */
}
.checkboxes{
  margin: -10px -5px -10px -10px !important;
}
.ownerLabel{
  background-color: transparent !important;
}
.phoneInput{
}
.ownerFormControl,
.ownerSelect,
.ownerLabel,
.phoneInput,
.maxWidth{
  width: 100%;
}
.ownerFormControl{
  margin-right: 10px !important;
}